.plan{
    position: relative;
    font-family: Montserrat;
    z-index: 2;
    width: 300px;
    padding: 40px 25px 40px 25px;
    border-radius: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color:hsl(228, 45%, 98%);
    min-height: 350px ;
    max-height: min-content;
}

.featuresPrice{
    margin-top: 10px;
    width: 100%;
}

.featuresPrice ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.featuresPrice ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0px 15px 0px;
    border-top: 1px solid hsl(234, 14%, 74%);
    color: hsl(232, 13%, 33%);
    font-weight: 800;
}

.featuresPrice ul li:last-child{
    border-bottom: 1px solid hsl(234, 14%, 74%);
}

.plan .name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#Professional{
    min-height: 430px;
    background: linear-gradient(90deg, rgba(159,164,223,0.9) 20%, rgba(105,111,221,0.9) 100%);
    color: hsl(0,100%,100%);
}

#Professional ul li{
    color: hsl(0,100%,100%);
}

#Professional button{
    margin-bottom: 30px;
}

.plan h3{
    font-family: Montserrat;
    color: hsl(0,0%,0%);
    font-weight: 800;
    font-size: 1.25em;
}

.plan .featuresPrice ul li p{
    font-size: 1em !important;
    font-weight: 500;
}

.plan .name p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2.5em;
    font-weight: 800;
}

.plan .name p span{
    font-size: 1.75em;
}

.plan footer.learn{
    width: 100%;
}

.plan footer.learn button{
    transition: 0.5s;
    margin-top: 3vh;
    width: 100%;
    padding: 15px 0px 15px 0px;
    background: linear-gradient(90deg, rgba(159,164,223,1) 20%, rgba(105,111,221,1) 100%);
    border-radius: 10px;
}

.plan footer.learn button:hover{
    background-image: none;
    font-weight: 800;
    border: 1px solid rgba(159,164,223,1);
    color: rgba(159,164,223,1);
}

#Professional footer.learn button{
    margin-top: 7vh;
    background: hsl(0,100%,100%);
    color:  rgba(159,164,223,1)
}

#Professional footer.learn button:hover{
    background-color: transparent;
    border: 1px solid hsl(0,100%,100%);
    color: hsl(0,100%,100%);
}



@media screen and (max-width: 999px) {
    .plan{
        width: 90%;
        padding: 40px 5% 40px 5%;
        justify-content: center;
    }

    #Professional footer.learn button{
        margin-top: 1vh;
        background: hsl(0,100%,100%);
        color:  rgba(159,164,223,1)
    }
    
}

@media screen and (max-width : 500px) {
    .name p{
    font-size: 2.25em !important;
  }
  }