@font-face {
    font-family: Montserrat;
    src: url('./Components/assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url('./Components/assets/fonts/Montserrat-SemiBold.ttf');
    font-weight: 500;
}


*{
    margin: 0%;
    padding: 0%;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body,html,#root{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bg{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: no-repeat hsla(236, 72%, 79%,0.1);
}

.topImgD{
    position: absolute;
    left: calc(100vw - 375px);
    height: 100%;
}

.bottomImgD{
    position: absolute;
    top: calc(100vh - 304px);
}


@media screen and (min-width : 1000px) and (max-width : 1300px)  {
    #root,html,body{
      width: 100vw;
      max-height: max-content;
      min-height: 100%;
      height: auto;
  }
  
  }


@media screen and (max-width: 999px) {

    body,html,#root{
        width: 100vw;
        height: max-content;
    }

    .topImgD{
        display: block;
        width: 300px;
        height: auto;
        transform: rotate(180deg);
    }

    .bottomImgD{
        display: block;
        width: auto;
        top: calc(100% - 304px);
    }

}